# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/

# Flask / DB
instance/
*.db
*.sqlite*
*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Node (si jamais)
node_modules/
dist/
build/

# Local
.venv/
instance/
*.db
__pycache__/
*.pyc
