<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %} | Générateur d'Articles Wikipédia à Améliorer (GAWA)</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

    <!-- Custom styles for this templates -->
    <link href="{{ url_for('static', filename='css/wave.css') }}" rel="stylesheet">

    <!-- Font family -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="text-center">
    <!-- wave container -->
    <div class="canvas">
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm">
      <div class="container-fluid">

        <!-- Logo visible SEULEMENT en mobile -->
        <a class="navbar-brand d-lg-none" href="{{ url_for('home') }}">
          <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo GAWA" height="30">
        </a>

        <!-- Bouton hamburger -->
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGAWA" aria-controls="navbarGAWA" aria-expanded="false" aria-label="Toggle navigation">
          <span class="hamburger-icon"></span>
        </button>


        <!-- Liens du menu -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarGAWA">
          <ul class="navbar-nav gap-3">
            <li class="nav-item">
              <a class="nav-link active" href="#">Accueil</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Discussion</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Événements</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Statistiques</a></li>
            <li class="nav-item"><a class="nav-link" href="#">À propos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Aide</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>
      <div class="credit-wrapper">
        <div class="creditfooter">
          Développé par <a href="https://wikimedia.ci/" title="Wikimedia Côte d'Ivoire">Wikimedia Côte d'Ivoire</a> et disponible sur <a href="https://gitlab.wikimedia.org/toolforge-repos/gawa" title="GitLab Wikimedia">GitLab Wikimedia</a> sous la licence MIT.
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.28.0/dist/tsparticles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.5.0/custom-elements-es5-adapter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.5.0/webcomponents-loader.js"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/accordion.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/defile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/canvasjs.js') }}"></script> 
    <!-- Bootstrap JS avec Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
